tbody > tr > td.footable-first-visible {
}

tbody > tr > td.footable-first-visible:hover {
    color: blue;
    text-decoration-line: underline;
}

.school-name, p {
        text-align: center;
}

#begin {
    background-color: red;
    width: 50px;
    height: 50px;
}